{% extends "WalletDesktopFrontendBundle::layout.html.twig" %}

{% block currentPage %}accounts{% endblock %}

{% block content %}

    <div class="well well-sm">
        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Account</a>
        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Booking</a>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Account</th>
            <th>AccountNumber</th>
            <th>Balance</th>
            <th>Available Balance</th>
        </tr>

        {% for account in accounts %}
            {# account #}
            <tr>
                <td>{{ account.title }}</td>
                <td>{{ account.accountNumber }}</td>

                {% set balance = account.balance %}
                <td {% if balance < 0 %}class="danger"{% elseif balance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                    {{ balance }}&euro;
                </td>

                {% set availableBalance = getAvailableAccountBalance(account.id) %}
                <td {% if availableBalance < 0 %}class="danger"{% elseif availableBalance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                    {{ availableBalance }}&euro;
                </td>
            </tr>

            {% if account.fixtures|length > 0 %}
                {# fixtures #}
                <tr class="active">
                    <td colspan="4">
                        <strong>Fixtures</strong> <span class="label label-success">{{ getAccountFixturesSum(account.id) }}&euro;</span>
                    </td>
                </tr>
                {% for fixture in account.fixtures %}
                    <tr class="active">
                        <td colspan="1">
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ fixture.title }}
                        </td>
                        <td colspan="3">
                            {{ fixture.value }}&euro;
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </table>    

{% endblock %}
