{% extends "WalletDesktopFrontendBundle::layout.html.twig" %}

{% block currentPage %}accounts{% endblock %}

{% block title %}Accounts{% endblock %}

{% block content %}

    <div class="well well-sm">
        <a href="{{ path('accounts_create') }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Account</a>
        <a href="#" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Booking</a>
        <a href="{{ path('fixtures_create') }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Fixture</a>
        <a href="#" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Payment</a>
    </div>

    {% if accounts|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No Accounts found!
        </div>
    {% endif %}

    {% for account in accounts %}
        {# account #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ account.title }}{% if account.accountNumber != null %} &middot; {{ account.accountNumber }}{% endif %}</h3>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>Balance</th>
                    <th>Available Balance</th>
                    <th>Actions</th>
                </tr>

                {# account #}
                <tr>
                    {% set balance = account.balance %}
                    <td {% if balance < 0 %}class="danger"{% elseif balance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                        <span class="label label-default">{{ balance }}&euro;</span>
                    </td>

                    {% set availableBalance = getAvailableAccountBalance(account.id) %}
                    <td {% if availableBalance < 0 %}class="danger"{% elseif availableBalance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                        <span class="label label-default">{{ availableBalance }}&euro;</span>
                    </td>

                    <td>
                        <a href="{{ path('accounts_delete', {accountId: account.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        <a href="{{ path('accounts_update', {accountId: account.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>

                {# payments #}
                {% if account.payments|length > 0 %}                
                    <tr class="active">
                        <td colspan="3">
                            <strong>Payments</strong>
                        </td>
                    </tr>
                    {% for payment in account.payments %}
                        <tr {% if payment.isIncome == true %}class="success"{% else %}class="danger"{% endif %}>
                            <td colspan="1">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ payment.title }}
                            </td>
                            <td colspan="2">
                                <span class="label label-default">{{ payment.value }}&euro;</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {# fixtures #}
                {% if account.fixtures|length > 0 %}                
                    <tr class="active">
                        <td colspan="5">
                            <strong>Fixtures</strong> <span class="label label-success">{{ getAccountFixturesSum(account.id) }}&euro;</span>
                        </td>
                    </tr>
                    {% for fixture in account.fixtures %}
                        <tr class="active">
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ fixture.title }}
                            </td>
                            {% if fixture.target > 0 %}
                                <td>
                                    <div class="progress wallet-progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ ((fixture.value / fixture.target) * 100)|number_format(0, '.', ',') }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((fixture.value / fixture.target) * 100)|number_format(0, '.', ',') }}%">
                                            {{ ((fixture.value / fixture.target) * 100)|number_format(0, '.', ',') }}%
                                        </div>
                                    </div>
                                    <span class="label label-default">{{ fixture.value }}&euro; von {{ fixture.target }}&euro;</span>
                                </td>
                            {% else %}
                                <td>
                                    <span class="label label-default">{{ fixture.value }}&euro;</span>
                                </td>
                            {% endif %}
                            <td>
                                <a href="{{ path('fixtures_delete', {fixtureId: fixture.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                                <a href="{{ path('fixtures_update', {fixtureId: fixture.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% endfor %}

{% endblock %}
