{% extends "WalletDesktopFrontendBundle::layout.html.twig" %}

{% block currentPage %}accounts{% endblock %}

{% block title %}Accounts{% endblock %}

{% block content %}

    <div class="well well-sm">
        <a href="{{ path('accounts_create') }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Account</a>
        <a href="#" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Booking</a>
        <a href="#" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Fixture</a>
        <a href="#" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Payment</a>
    </div>

    {% if accounts|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No Accounts found!
        </div>
    {% endif %}

    {# flash messages #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{flashMessage}}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{flashMessage}}
        </div>
    {% endfor %}

    {% for account in accounts %}
        {# account #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ account.title }}{% if account.accountNumber != null %} &middot; {{ account.accountNumber }}{% endif %}</h3>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>Balance</th>
                    <th>Available Balance</th>
                    <th>Actions</th>
                </tr>

                {# account #}
                <tr>
                    {% set balance = account.balance %}
                    <td {% if balance < 0 %}class="danger"{% elseif balance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                        {{ balance }}&euro;
                    </td>

                    {% set availableBalance = getAvailableAccountBalance(account.id) %}
                    <td {% if availableBalance < 0 %}class="danger"{% elseif availableBalance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                        {{ availableBalance }}&euro;
                    </td>

                    <td>
                        <a href="{{ path('accounts_delete', {accountId: account.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        <a href="{{ path('accounts_update', {accountId: account.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>

                {# payments #}
                {% if account.payments|length > 0 %}                
                    <tr class="active">
                        <td colspan="3">
                            <strong>Payments</strong>
                        </td>
                    </tr>
                    {% for payment in account.payments %}
                        <tr {% if payment.isIncome == true %}class="success"{% else %}class="danger"{% endif %}>
                            <td colspan="1">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ payment.title }}
                            </td>
                            <td colspan="2">
                                {{ payment.value }}&euro;
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {# fixtures #}
                {% if account.fixtures|length > 0 %}                
                    <tr class="active">
                        <td colspan="3">
                            <strong>Fixtures</strong> <span class="label label-success">{{ getAccountFixturesSum(account.id) }}&euro;</span>
                        </td>
                    </tr>
                    {% for fixture in account.fixtures %}
                        <tr class="active">
                            <td colspan="1">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ fixture.title }}
                            </td>
                            <td colspan="2">
                                {{ fixture.value }}&euro;
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% endfor %}

{% endblock %}
